<div class="technical-equipment-container d-flex-column-center">
	<div class="technical-equipment-overview d-flex-column-center">
		<div class="overview-conteiner d-flex-column-center g-40">
			<div class="title-container">
				<div class="d-flex-center g-16">
					<img
						class="icon"
						src="assets/protection.svg"
						alt=""
						width="35"
						height="35"
					/>
					<h2 class="title h2-bold">ТЕХНИЧЕСКОЕ ОСНАЩЕНИЕ</h2>
				</div>
			</div>

			<span class="separator-small"></span>

			<p class="text">
				построение информационных и телекоммуникационных систем, систем
				безопасности и специального контроля для государственных
				контрольных органов
			</p>

			<span class="separator-xsmall"></span>
		</div>
	</div>
</div>
