<div class="design-container d-flex-column-center">
	<div class="design-overview d-flex-column-center">
		<div class="overview-conteiner d-flex-column-center g-40">
			<div class="title-container d-flex-column-center g-16">
				<div class="d-flex-center g-16">
					<img
						class="icon"
						src="assets/design.svg"
						alt=""
						width="35"
						height="35"
					/>
					<h2 class="title h2-bold">Проектирование</h2>
				</div>

				<p class="sub-title">
					изыскания, выпуск проектно-сметной документации,
					согласование, защита проектных решений в экспертных
					организациях.
				</p>
			</div>

			<span class="separator-small"></span>

			<p class="text">
				Основные направления — информационно-телекоммуникационная
				инфраструктура предприятий транспортной отрасли — компьютерные
				системы, объединяющие компьютерное оборудование, программы
				для ЭВМ и/или баз данных и/или коммуникационные технологии,
				а также системы безопасности и специального контроля.
			</p>

			<span class="separator-xsmall"></span>
		</div>
	</div>
</div>
