<div class="construction-container d-flex-column-center">
	<div class="construction-overview d-flex-column-center">
		<div class="overview-conteiner d-flex-column-center g-40">
			<div class="title-container">
				<div class="d-flex-center g-16">
					<img
						class="icon"
						src="assets/project.svg"
						alt=""
						width="35"
						height="35"
					/>
					<h2 class="title h2-bold">СТРОИТЕЛЬНЫЙ КОНТРОЛЬ</h2>
				</div>
			</div>

			<span class="separator-small"></span>

			<p class="text">
				контроль за выполнением работ, проверка соответствия выполняемых
				работ проектной <br />
				документации, а также технические консультации в части
				построения информационных и телекоммуникационных систем
				государственных контрольных органов
			</p>

			<span class="separator-xsmall"></span>
		</div>
	</div>
</div>
