@import 'index';

:host {
	display: flex;
	justify-content: center;
}

.header-container {
	width: 100%;
	max-width: 1152px;
	min-height: 70px;
	flex-direction: row;
	margin-right: 12px;
	gap: 20px;

	// > 1920
	@include screen-x-large-desktop {
	}
	// 1150 - 1919
	@include screen-medium-desktop {
	}
	// > 1150 portrait and > 1150 landscape
	@include screen-all-desktops {
	}

	// < 1149 portrait
	@include screen-all-mobiles-portrait {
	}
	// < 1149 landscape
	@include screen-all-mobiles-landscape {
	}

	// < 1149 portrait and < 1149 landscape
	@include screen-all-mobiles {
	}
}

.logo-container {
	cursor: pointer;
}

.navigation-container {
	height: 100%;
	padding: 16px 0;
}

.tab {
	height: inherit;
	padding: 4px;
	cursor: pointer;

	&:hover {
		border-bottom: 2px solid $szss-color-primary;
	}

	&s {
		@include font-style(12px);

		height: inherit;
		white-space: nowrap;
	}
}

.call {
	&-btn {
		@include button;

		border: 1px solid $szss-color-primary;
	}
}

.menu-icon {
	padding: 12px 8px;
	cursor: pointer;
}

.hidden {
	display: none;
}

.active {
	font-weight: 600;
}
