<div class="header-container d-flex-center-between">
	<div class="logo-container d-flex">
		<img class="logo" src="assets/logo.png" alt="logo" width="140" height="70" />
	</div>

	<nav class="navigation-container d-flex">
		<ul class="tabs d-flex-center-between g-20">
			<li class="tab d-flex">
				О компании
			</li>
			<li class="tab d-flex">
				Наши объекты
			</li>
			<li class="tab d-flex">
				Направления деятельности
			</li>
			<li class="tab d-flex">
				Продукция
			</li>
			<li class="tab d-flex">
				Новости
			</li>
			<li class="tab d-flex">
				Вакансии
			</li>
			<li class="tab d-flex">
				Контакты
			</li>
		</ul>
	</nav>

	<div class="call-container">
		<button class="call-btn">
			+7(812) 292-44-99
		</button>
	</div>
</div>
