<div class="products-container g-50">
	<h2 class="h2">Продукция</h2>

	<section class="products-content d-flex-between g-40">
		<div>
			Компания «СевЗапСпецСвязь» проектирует и производит пропускные модули паспортного контроля по типовым и индивидуальным размерам. 
			Они предназначены для размещения сотрудников, осуществляющих паспортно-визовый контроль, и санкционированного пропуска пассажиров. 
			<br>Пропускные модули оборудованы техническими средствами, установленными в закрытой части кабины и управляемым преграждающим устройством.
		</div>
		<div class="d-flex-column g-20">
			<p>
				Модули предназначены для эксплуатации в закрытых отапливаемых и вентилируемых помещениях. Поставляются в разобранном виде и собираются на месте эксплуатации, согласно конструкторской документации выбранной модификации.
			</p>

			<p class="border">
				Собственные конструкторские разработки и команда опытных инженеров гарантируют высокое качество нашей продукции в минимальные сроки.
			</p>
		</div>
	</section>


	<section class="d-flex-column-center mt-45 g-30">
		<h3 class="title">
			Варианты расположения пропускных модулей
		</h3>
		<div class="access-modules-content d-flex g-30">
			<figure class="module-card">
				<img
					src="assets/access-module-1.png"
					alt="Одиночная кабина"
					width="360"
					height="200"
				>
				<figcaption class="mt-10">Одиночная кабина</figcaption>
			</figure>	
			<figure class="module-card">
				<img
					src="assets/access-module-2.png"
					alt="Кабины в шахматном порядке"
					width="360"
					height="200"
				>
				<figcaption class="mt-10">Кабины в шахматном порядке</figcaption>
			</figure>	
			<figure class="module-card">
				<img
					src="assets/access-module-3.png"
					alt="Кабины в ряд"
					width="360"
					height="200"
				>
				<figcaption class="mt-10">Кабины в ряд</figcaption>
			</figure>	
		</div>
	</section>

	<section class="d-flex-column-center mt-16 g-30">
		<h3 class="title">
			Фото готовой продукции
		</h3>
		<div class="finished-products g-10">
			<img
				class="img-1"
				src="assets/finished-module-1.png"
				alt=""
			>
			<img
				class="img-2"
				src="assets/finished-module-2.png"
				alt=""
			>
			<img
				class="img-3"
				src="assets/finished-module-3.png"
				alt=""
			>
		</div>
	</section>

	<div class="detailed-info mt-20">
		Если вам нужна более подробная информация, просьба направлять письма на info&#64;nwssv.ru с темой «Пропускные модули» или звонить по телефону<br>+7 812 292-44-99, доб. 140
	</div>
</div>